body {
    margin: 0px;
}

.legotitle {
    font-family: "Press Start 2P";
    color: #ff5278;
    font-size: 0.5em;
    line-height: 3em;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

a,
a:visited {
    color: #ff5278;
    text-decoration: none;
}

u:hover {
    text-decoration: none !important;
    border-bottom: 20px solid #ff5278;
}

a:link,
a:visited {
    text-decoration: none;
    color: #ff5278;
}
a:hover {
    text-decoration: underline;
    color: #ff5278;
}
