.result-pane > div {
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    padding: 2vh;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 1.2em;
}

body {
    margin: 0px;
}

.legotitle {
    font-family: "Press Start 2P";
    color: #ff5278;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
}

a,
a:visited {
    color: #ff5278;
    text-decoration: none;
}

.center-page {
    left: 0;
    margin: auto;
    top: -50vh;
    width: 100%;
    z-index: 10;
    position: relative;
    margin-bottom: -10em;
    text-align: center;
}

.resize {
    width: 60px;
    height: auto;
}

u:hover {
    text-decoration: none !important;
    border-bottom: 20px solid #ff5278;
}

a:link,
a:visited {
    text-decoration: none;
    color: #ff5278;
}
a:hover {
    text-decoration: underline;
    color: #ff5278;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.1em;
    margin: 1vw;
}

.MuiIconButton-label {
    color: rgb(255, 255, 255);
}

.MuiListSubheader-root {
    color: rgb(255, 255, 255) !important;
    font-weight: lighter !important;
    font-size: 1.5em !important;
}

pre {
    border-radius: 1vw;
    padding: 1vw;
    box-shadow: 0vw 0vw 0.2vw 0.1vw #ff5278;
    overflow-x: auto;
    background-color: #212325;
}

blockquote {
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em;
}

.MuiListItemIcon-root {
    color: #fff !important;
}

/* Scrool Bar */
/* width */
::-webkit-scrollbar {
    width: 0.5px;
    height: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0.5em;
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    margin: 1em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
    border-radius: 10px;
    background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #808080;
}
